.LineCount {
  display: flex;
  padding: 0 12px;
  box-sizing: border-box;
  width: 100%;
  font-weight: 700;
  color: white;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.LineCount__icon {
  display: flex;
  width: 70px;
  padding: 0 12px;
  justify-content: center;
  align-items: center;
}