.EnergyCount {
  display: flex;
  min-width: 105px;
  padding: 0 0 0 12px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

.EnergyCount__icon {
  width: 44px;
  height: 44px;
}

.EnergyCount__count {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  flex-wrap: nowrap;
}

.EnergyCount__current {
  color: white;
  font-size: 15pt;
  font-weight: 600;
}

.EnergyCount__max {
  color: #a7a7a7;
  font-size: 11pt;
  font-weight: 500;
}