.Progress {
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
}

.Progress__inner {
  position: relative;
  width: 100%;
  color: white;
  box-sizing: border-box;
}

.Progress__indicator {
  display: flex;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 18px;
  border-radius: 18px;
  border: 4px solid white;
  background-color: white;
  box-sizing: border-box;
}

.Progress__indicator span {
  display: block;
  height: 100%;
  border-radius: 8px;
  background-color: #ec4b7a;
}

.Progress__title {
  padding: 6px 12px;
}

.Progress__title span:nth-child(1) {
  font-size: 16pt;
  font-weight: 700;
  padding: 0 8px 0 0;
  color: white;
}

.Progress__title span:nth-child(2) {
  font-size: 12pt;
  font-weight: 700;
  padding: 0 8px 0 0;
  color: rgb(204, 204, 204);
}

.Progress__icon {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  filter: grayscale(80%);
}

.Progress--done .Progress__icon {
  -webkit-animation: _pulse_box 2s linear infinite;
  animation: _pulse_box 2s linear infinite;
  filter: none;
}

@keyframes _pulse_box {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}