.Clicker {
  display: flex;
  width: 100%;
  flex: 1 1;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
}

.Clicker__inner {
  width: 100%;
  height: 100%;
}

.Clicker__pulse {
  width: 100%;
  height: 100%;
  -webkit-animation: _heartbeat 3s linear infinite;
  animation: _heartbeat 3s linear infinite;
}

.Clicker__icon {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 12px;
  border-radius: 50%;
  box-sizing: border-box;
  transition: .1s;
  z-index: 2;
}

._active .Clicker__icon {
  transform: scale(0.8);
}

.Clicker__gradient {
  position: absolute;
  top: -10%;
  left: -10%;

  width: 120%;
  height: 120%;
  background-image: radial-gradient(circle at center, rgba(255, 0, 0, 0.5) 0%, rgba(0, 0, 255, 0) 70%);
  z-index: 1;
}

.Clicker__count {
  display: flex;
  position: absolute;
  padding: 12px;
  box-sizing: border-box;
  bottom: 0;
  width: 100%;
  font-weight: 700;
  color: white;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.Clicker__value {}

.Clicker__count_icon {
  display: flex;
  width: 70px;
  /* height: 70px; */
  padding: 0 12px;
  justify-content: center;
  align-items: center;
}

.Clicker__effect {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999999;
}