.Product__info {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 12px 0 24px 0;
}

.Product__icon {
  width: 150px;
  height: 150px;
  padding: 12px;
}

.Product__title {
  font-size: 14pt;
  font-weight: 600;
}

.Product__description {
  display: flex;
  padding: 0 12px;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 11pt;
  color: #858585;
}

.Product__textarea {
  display: flex;
  width: 100%;
}