.Present {
  width: 64px;
  padding: 12px;
  box-sizing: border-box;

}

.Present__inner {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  filter: grayscale(100%);
  background: white;
  border-radius: 50%;
}

.Present__inner svg {
  transform: scale(2);
}

.Present--active .Present__inner {
  -webkit-animation: _pulse_box 2s linear infinite;
  animation: _pulse_box 2s linear infinite;
  filter: none;
}

@keyframes _pulse_present {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}